<!DOCTYPE html>

<html>
<head>

	<!-- Website Title & Description for Search Engine purposes -->
	<title>The Book Store</title>
	<meta name="description" content="">

	<!-- Mobile viewport optimized -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!--Font CSS-->
	<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">

	<!-- Bootstrap CSS -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="includes/css/bootstrap-glyphicons.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="includes/css/styles.css" rel="stylesheet">

	<!-- Include Modernizr in the head, before any other Javascript -->
	<script src="includes/js/modernizr-2.6.2.min.js"></script>

  <!--Angular js script-->
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script type="text/javascript" src="includes/js/script.js">

  </script>
</head>

<body ng-app="myApp" ng-controller="BookController">
	<div class="container" id="main">
    <!--start of navbar-->
    <div class="navbar navbar-fixed-top">
      <button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" data-target=".nav-HeaderCollapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" ><img src="images/logo2.png" alt="The Book Store Logo" id="logo"></a>
      <div class="nav-collapse collapse navbar-responsive-collapse nav-HeaderCollapse">
        <ul class="nav navbar-nav" id="menu">
          <li id="active">
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i>  Home</a>
          </li>
          <li >
            <a href="#">
              <i class="fa fa-globe" aria-hidden="true"></i>Discover</strong>
            </a>
          </li>
          <li>
            <a href="#" >
              <i class="fa fa-rocket" aria-hidden="true"></i>  Features</strong>
            </a>
          </li>
          <li>
            <a href="#" >
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>  Shop</strong>
            </a>
          </li>
        </ul>  <!--end of nav nav-bar-->

      </div><!-- end nav-collapse -->
    </div> <!--end of navbar-->

    <!--start of myStore-->
    <div class="myStore container" >
      <h1 class="main-heading">List Of Books</h1>
      <div width="100%" style="max-width:1000px"class="book row" ng-repeat="book in books" ng-show={{book.purchasable}}>
        <div class="row">
          <div class="col-8 book-name">
            <h5>{{book.name|uppercase}}</h5>
          </div>
          <div align="right" class="col-4 book-price">
            <h5>{{book.price|currency : "Rs."}}</h5>
          </div>

        </div> <!--end of row1-->
        <div class="row">
          <div class="col-8">
            <p class="book-description">{{book.description}}</p>
            <img class="book-image col-8" src={{book.image}} alt="Book Image is missing">
						<button ng-hide={{book.soldout}} class="btn btn-primary col-4 align-bottom" name="button">Add to Cart</button>
          </div>
        </div><!--end of row2-->
				<br>
				<div class="row">
					<div class="col-6">
						<div class="tabbable">
							<ul class="nav nav-tabs" ng-init="tab=1">
								<li ng-class="active:tab===1">
									<a href ng-click="tab=1">Description </a>
								</li>
								<li ng-class="active:tab===2">
									<a href ng-click="tab=2" data-toggle="tab">Specifications</a>
								</li>
								<li ng-class="active:tab===3">
									<a href ng-click="tab=3" data-toggle="tab">Reviews</a>
								</li>
							</ul>
							<div ng-show="tab===1">
								<h5>Description</h5>
								<p class="book-description">{{book.description}}</p>
							</div>
							<div class="spcf" ng-show="tab===2">
								<h4>Specifications</h4>
								<h5>Paperback:<span>{{book.pages}}</span></h5>
								<h5>Publisher:<span>{{book.publisher}}</span></h5>
								<h5>Language:<span>{{book.lang}}</span></h5>
								<h5>Average Customer Riview:<span>{{book.review}}</span></h5>
							</div>
							<div ng-show="tab===3">
								<div class="review bs-callout bs-callout-default" ng-repeat="review in book.reviews">
									<h5>Star:{{review.star}} <span>{{review.review}}</span></h5>
									<p>by:{{review.email}}</p>
								</div>
							</div>
						</div><!-- end tabbable -->

					</div><!--end of col-6-->
				</div><!--end of row3-->
				<hr>
      </div><!--end of book-->
    </div><!--end of myStore-->

	</div><!--end of main container-->

	<!-- First try for the online version of jQuery-->
	<script src="http://code.jquery.com/jquery.js"></script>

	<!-- If no online access, fallback to our hardcoded version of jQuery -->
	<script>window.jQuery || document.write('<script src="includes/js/jquery-1.8.2.min.js"><\/script>')</script>

	<!-- Bootstrap JS -->
	<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<h5>Copyright &copy; 2016 TheBookStore</h5>
			</div><!-- end col-sm-2 -->

			<div class="col-sm-4">
				<h5>About Us</h5>
				<p>The Book Store is a online book store helps you get you almost every book easily at low rates. Provides you a chance to show your skills by paticipating in various competitions online. </p>
			</div><!-- end col-sm-4 -->

			<div class="col-sm-2">
				<h5>Navigation</h5>
				<ul class="unstyled">
					<li><a href="#">Home</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Links</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div><!-- end col-sm-2 -->

			<div class="col-sm-2">
				<h5>Follow Us</h5>
				<ul class="unstyled">
					<li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true">   Facebook</i></a></li>
					<li><a href="#"><i class=" fa fa-twitter-square" aria-hidden="true">   Twitter</i></a></li>
					<li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true">   Google Plus</i></a></li>
					<li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true">   Linked In</i></a></li>
					<li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true">   WhatsApp</i></a></li>
				</ul>
			</div><!-- end col-sm-2 -->

			<div class="col-sm-2">
				<h5>Coded with <span class="glyphicon glyphicon-heart"></span> by Nisha Uttawani</h5>
			</div><!-- end col-sm-2 -->
		</div><!-- end row -->
	</div><!-- end container -->
</footer>

</html>
